
$margin-body: 0px; 
$padding-body: 0px;
$background-body: #FCE1CE;   
$text: 'Sanford-0103_demo'; 

$veinte-pixeles: 20px; 
$auto: auto; 
$ochenta-porciento: 80%; 
$cien-porciento: 100%; 
$border-white: 10px solid white;; 
$cinco-pixeles: 5px; 

$flex : flex; 
$row : row; 
$space-between: space-between; 

$cientotreinta-pixeles: 130px;  
$background-header: #EDBB99; 
$quince-pixeles: 15px;
$cien-pixeles: 100px; 

$border-home: 5px solid  #EDBB99; 
$center: center; 
$treinta-pixeles: 30px; 
$cincuenta-porciento: 50%; 

$flex-end: flex-end; 
$flex-start: flex-start; 
$veinticinco-pixeles: 25px;

$border-azul: 1px solid hsla(213, 49%, 65%, 0.849); 
$color-crema: hsla(48, 91%, 83%, 0.356) ; 
$justify: justify; 

$cero: 0px; 
$cien-pixeles: 100px; 
$none: none; 

$cincuenta-pixeles: 50px; 
$menos-top: -65px; 

$rotate: rotate(-50deg);
$dos-cincuenta-pixeles: 250px; 

