@import 'General';
//@import '../componets/Header/Header'; 
@font-face{
    font-family: 'Sanford-0103_demo' ;
    src: url('./fonts/Sanford-0103_demo.ttf'); 
}
body{
    margin: $margin-body;
    padding: $padding-body;
    background-color: $background-body;
    font-family: $text;
}
.content-section{
    padding: $veinte-pixeles;
    margin: $auto;
    width: $ochenta-porciento;
    height: $cien-porciento;
    border: $border-white;
    border-radius: $quince-pixeles;
    font-family: $text;
    margin-top: $veinte-pixeles
}
.head{
    width: $cien-porciento;
    height: $cientotreinta-pixeles; 
    background-color: $background-header;
    display: $flex;
    flex-direction: $row;
    justify-content: $space-between;
}
.img-head{
        padding: $veinte-pixeles;
        width: $cincuenta-porciento;
        height: $cien-pixeles;
        border-radius: $cincuenta-pixeles;
}
.img-head{
    width: $cientotreinta-pixeles;
}
.flex{
    display: $flex;
    flex-direction: $row;
}
.head-flex{
    display: $flex;
    flex-direction: $row;
    width: $cincuenta-porciento;
}
.flex-width{
    width: $veinticinco-porciento;
    padding: $veinte-pixeles;
}
.img-start{
    padding: $treinta-pixeles;
    width: $cincuenta-porciento;
    justify-content: $flex-start;
    text-align: $center;
}
.img-start img{
    width: $tres-cincuenta-pixeles;
}
.descripcion{
    width: $cincuenta-porciento;
    justify-content: $flex-end;
    text-align: $center;
    padding: $veinte-pixeles;
    margin-top: $cien-pixeles;
    font-size: $veinticinco-pixeles; 
}
.proyect{
    display: $flex; 
    justify-content: $space-between;
    flex-direction: $row;
}
.descripcion-proyect{
    width: 320px; 
    border-radius: $diez-pixeles;;
    padding: $veinte-pixeles;
    border: $border-azul;
    background-color: $color-crema ;
    height: 400px;
}
.descripcion-proyect h2{
    text-align: $center;
}
.descripcion-proyect p{
    text-align: $justify;
    font-size: $veinte-pixeles;
    margin-left: $cero;
    padding: $quince-pixeles;
    height: $cien-pixeles;
}
.links{
    padding: $quince-pixeles;
    text-align: $justify;
    text-decoration: $none;
    color: $black; 
}
.skill{
    padding: $cincuenta-pixeles;
    width: $ochenta-porciento;
    text-align: $center;
    justify-content: $center;
}
.h2-Tech{
    margin-top: $menos-top;
    text-align: $center;
}
.descripcion-skill{
    width: 320px; 
    border-radius: $diez-pixeles;
    padding: $veinte-pixeles;
    border: $border-azul;
    background-color: $color-crema ;
    height: 300px;
}
.descripcion-skill h2{
    text-align: $center;
}
.descripcion-skill p{
    text-align: $justify;
    font-size: $veinte-pixeles;
    margin-left: $cero;
    padding: $quince-pixeles;
    height: $cien-pixeles;
}

.img-skills{
    width: $cien-pixeles;
    border-radius: $dos-cincuenta-pixeles;
}
.img-skills:hover{
    transform: $rotate;
    -webkit-transform: $rotate; // IE 9
    -moz-transform: $rotate; // Firefox
    -o-transform: $rotate; // Safari and Chrome
    -ms-transform: $rotate; // Opera
    }
.btn-view{
    background-color:transparent ;
    width: $cientotreinta-pixeles;
    height: $cincuenta-pixeles;
    font-size: $veinte-pixeles;
    border: $border-azul;
    border-radius: 5px; 
}
.btn-view:hover{
    background-color: $black;
    color: white;
}
.icon{
    width: 200px;
}
.top{
    margin-top: -100px;
    margin-left: 300px; 
}
.img-project{
    width: 180px; 
    height: $cientotreinta-pixeles;
    margin-left: $cincuenta-pixeles
}

@media screen and (max-width: $break-large) {
    .proyect{
        flex-wrap: $wrap ;
    }
    .descripcion-skill{
        flex-wrap: $wrap;
    }
    .descripcion{
        flex-wrap: $wrap;
        margin-top: -80px;
        width: $cien-porciento;
    
    }
    .flex{
        flex-wrap: $wrap;
    }
    .top{
        margin-top: -120px;  
    }
    .img-start{
        padding: $cero;
        width: $cien-porciento;
        text-align-last: $center
    }
    .img-start img{
        width: 250px;
    }
    .head-flex{
        width: $cien-porciento;
        padding: $cero;
    }
    .head{
        height: 200px;
    }
    .btn-view{
        width: 80px;
        font-size: $quince-pixeles;
        height: $treinta-pixeles;
    }
     }