@import 'General';
//@import '../componets/Header/Header'; 
@font-face{
    font-family: 'Sanford-0103_demo' ;
    src: url('./fonts/Sanford-0103_demo.ttf'); 
}
.links{
    padding: $quince-pixeles;
    text-align: $justify;
    text-decoration: $none;
    color: $black; 
    font-family: 'Sanford-0103_demo';
    font-weight: bold;
    font-size: 20px;
}


.wrap{
    width: '1100px';
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tarjeta-wrap{
    margin: 10px;
    -webkit-perspective: 700;
    perspective: 700;
}
.tarjeta{
    width: 400px;
    height: 250px;
    background-color: rebeccapurple;
    transform-style: preserve-3d;
    transition: .7s ease;
    border-radius: 20px;
    
}
.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.adelante img{
    width: 100%;
    height: 100%;
}
.atras{
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: medium;
}
.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
}
.goCV{
    display: block;
}
.dowCV{
    display: none; 
}

@media screen and (max-width: 736px) {
    .goCV{
        display: none;
    }
    .dowCV{
        display: block; 
    }
    .tarjeta{
        width: 300px;
    }
    }